*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #636363;
    position: absolute;
    width: 100%;
}

.container{
    width: 95%;
    padding: 80px 0px;
    margin: auto;
    display: flex;
    align-items: center;
}

button{
    padding: 23px 35px;
    font-size: 18px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: white;
    border-radius: 40px;
    border: none;
    transition: all .5s;
    cursor: pointer;
}

button:hover{
    background-position: right center;}

.content h5{
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 20px;
        color: #f55f8d;
    }
.content h1{
        font-size: 75px;
        line-height: 1.1;
        font-weight: 800;
        color: #262626;
        margin-bottom: 20px;
    }
.content .p1{
        font-size: 22px;
        margin-bottom: 20px;
    }

/* start header */
header{
    position: absolute;
    top: -20px;
    width: 100%;
    z-index: 3;
}
header .logo{
    flex: 1 0 20%;
}
header .logo img{
    width: 200px;
}

header .list .list_item{
    display: flex;
    justify-content: space-evenly;

}
header .list li{
    list-style: none;
    margin-right: 40px;
}

header .list .list_item a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
header .list .list_item a i{
    font-size: 6px;
    margin-left: 3px;
    font-size: 10px;
}

header .list .list_item a:hover{
    color: #F56887;
}

header .list .list_item a span{
    display: inline-block;
    transition: 0.3s;
}
header .list .list_item a:hover span{
    animation: upToDown 0.3s;
}

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

/* end header */

/* start FREELANCE PRODUCT*/
.freeclance{
    background-image: url('./image/Samar/pic2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 120vh;
    background-position: top;
    padding-top: 120px;
    position: relative;
    top: -40px;
    overflow: hidden;
}

.freeclance .content .p2{
    font-size: 23px;
    margin-bottom: 20px;   
    display: flex;   
}
.freeclance .content .p2 i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-image:linear-gradient(to right,#f55f8d ,#f8ae56);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 15px;
}
.freeclance .content button{
    margin-top: 20px;
    display: block;
}

.freeclance .img{
    position: relative;
    left: 140px;
}
/* end FREELANCE PRODUCT */

/* start DIGITAL SERVICE */
.service{
    background-image: url('./image/Samar/bg2.png');
    background-size: full;
    background-position: top center;
    background-repeat: no-repeat;
}
.service .container{
    display: block;
    text-align: center;
}
.service .list{
    margin-top: 50px;
}
.service .list_item{
    display: flex;
    justify-content: space-between;
}

.service .list .list_item li{
    list-style: none;
    border-radius: 10px;
    padding: 30px 50px;
    width: 31.5%;
    transition: all 0.5s;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.service .list .list_item li img{
    width: 250px;
}
.service .list .list_item h3{
    font-size: 25px;
    color: black;
    margin: 15px 0px;
}
.service .list .list_item p{
    font-size: 18px;
}

.service .list .list_item li:hover{
    transform: translateY(-30px);
}
/* end DIGITAL SERVICE */

/* start ABOUT US */
.website{
    background-image: url('./image/Samar/bg15.png');
    background-size: 100%;
    background-position:  center right;
    background-repeat: no-repeat;
    overflow: hidden;
}
.website .img{
    width: 50%;
}
.website .img img{
    width: 120%;
    position: relative;
    left: -230px;
    top: 20px;
    border-radius: 120px;
}
.website .content{
    width: 50%;
}
.website .content .p1{
    font-size: 18px;
}
.website .content .p2{
    font-size: 18px;
    display: flex;
    align-items: center;
}
.website .content .p2 i{
    margin-right: 10px;
    color: #f55f8d;
    font-size: 27px;
    font-weight: 400;
}
.website .content button{
    margin-top: 40px;
}
/* END ABOUT US */

/* start NUMBER */
.number{
    background-image: url('./image/Samar/bg14.png');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.number .number_list{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.number .number_list .number_item{
    width: 25%;
}
.number .number_item i{
    color: white;
    
    text-align: center;
    padding: 15px 20px;
    font-size: 60px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(to right,#f55f8d ,#f8ae56);
}
.number .number_item h2{
    font-size: 80px;
    color: #f55f8d;
}
.number .number_item p{
    font-size: 20px;
    color: black;
    margin-top: -20px;
}
/* end NUMBER*/

/* start FEATURES */
.feature{
    overflow: hidden;
    background-image: url('./image/Samar/bg2.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.feature .container{
    justify-content: space-between;
}
.feature .content{
    width: 45%;
}
.feature .content .list_item .item{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;    margin-bottom: 40px;
    transition: 1s;
}
.feature .content .list_item .item::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(
      to right,
      #f55f8d 0,
      #f8ae56 51%,
      #f55f8d 100%
    );
    background-size: 200%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    border-radius: 10px;
}

.feature .content .list_item .item:hover::after {
    opacity: 1;
    z-index: -3;
}

.feature .content .list_item .item:nth-child(2){
    position: relative;
    left: 65px;
}
.feature .content .list_item .item i{
    width: 25%;
    text-align: center;
    font-size: 100px;
    color: #f55f8d;
    transition: 1s;
}
.feature .content .list_item .item .content{
    width: 75%;
    padding: 0px 30px 0px 0px;
}

.feature .content .list_item .item .content h2{
    color: black;
    font-size: 27px;
    transition: 1s;
}
.feature .content .list_item .item .content p{
    font-size: 18px;
}
.feature .img{
    width: 50%;
}
.feature .img img{
    width: 115%;
    animation-name:shake;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
}
.feature .content .list_item .item:hover{
    color: white;
    background-color: transparent;
    z-index: 3;
}
.feature .content .list_item .item:hover i, .feature .content .list_item .item:hover h2{
    color: white;
}

@keyframes shake{
    0% {
        transform: rotate(1deg) translate(2px,2px);
    }
    50% {
        transform: rotate(-1deg) translate(-2px,-2px);
    }
    100% {
        transform: rotate(1deg) translate(2px,2px);
    }
}
/* end FEATURES*/

/* start PORFOLIO */
.portfolio .container {
    display: block;
}
.portfolio .container .content{
    text-align: center;
}
.portfolio .container .grid{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}
.portfolio .container .grid .grid_item{
    /* border: 2px solid rebeccapurple; */
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}
.portfolio .container .grid .grid_item img{
    width: 100%;
    height: 100%;
}
.portfolio .container .grid .item-1{
    grid-column: 1/3
}
.portfolio .container .grid .item-2{
    grid-column:3/4;
}
.portfolio .container .grid .item-5{
    grid-column:1/3;
    grid-row: 3/4;
}
.portfolio .container .grid .item-6{
    grid-column:3/4;
    grid-row: 2/4;
}
.portfolio .container .grid .grid_item_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: 0.75s;
}
.portfolio .container .grid .grid_item_overlay a{
    position: absolute;
    top:0;
    right:0;
    margin: 20px 20px 0px 0px;
    background-image:linear-gradient(to right,#f55f8d ,#f8ae56) ;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: white;
    transform: translateX(50px) translateY(-50px);
    transition: 0.75s;
}

.portfolio .container .grid .grid_item_overlay .overlay_text{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    margin: 0px 0px 30px 30px;
    transform: translateY(100px);
    transition: 0.75s;
}
.portfolio .container .grid .grid_item_overlay .overlay_text h3{
    font-size: 30px;
}
.portfolio .container .grid .grid_item_overlay .overlay_text p{
    color: #CED3D5;
    font-weight: 500;
    font-size: 18px;
}
.portfolio .grid .grid_item:hover .grid_item_overlay{
    opacity: 1;
    background-color: rgba(0,0,0,0.4);
}
.portfolio .grid .grid_item:hover .overlay_text{
    transform: translateY(0);
}
.portfolio .grid .grid_item:hover .overlay_icon a{
    transform: translateY(0);
}

.portfolio .grid .grid_item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio .grid .grid_item:hover::before {
    left: 125%;
}  

/* end PORFOLIO */

/* start PLAN*/
.plan{
    background-image: url('./image/Samar/bg16.png');
    background-size: cover;
    background-position: center;
}
.plan  .container h5{
    text-align: center;
}
.plan  .container h1{
    text-align: center;
}
.plan .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.plan .container .grid .item{
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-image: 100 round;
    transition: all .5s;
}
.plan .grid .item .item_top{
    text-align: center;
}
.plan .grid .item .item_top h2{
    color: black;
    font-size: 35px;
}
.plan .grid .item img{
    width: 60%;
}
.plan .grid .item .item_top p{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.plan .grid .item .item_top p span{
    font-size: 60px;
    color: #F8AE56;
}
.plan .grid .item .item_bot{
    border-top: 1px solid rgb(128, 128, 128, 0.2);
    padding-top: 20px;
}
.plan .grid .item .item_bot p{
    font-size: 20px;
    color: #262626;
}
.plan .grid .item .item_bot p i{
    font-size: 15px;
    padding: 7px;
    border: 1px solid transparent;
    background-color:#FEEFF3;
    border-radius: 50%;
    color:#f55f8d;
    margin-bottom: 12px;
    margin-right: 20px;
}
.plan .grid .item .item_button{
    text-align: center;
    margin-top: 15px;
}
.plan .grid .item:hover{
    border-image: url('./image/Samar/br.png') 1 round;
}

/* end PLAN */

/* start TESTIMONIAL */
.testimonial{
    background-image: url(./image/Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.testimonial .container {
    display: block;
    overflow: hidden;
    padding: 80px 0 0px 0;
}
.testimonial .container .content{
    text-align: center;
}
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 50px 0;
  }
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
  }
  
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
  }

.testimonial .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    margin: 5px;
   
}
.testimonial .swiper-pagination{
    /* position: absolute;
    bottom: -50px; */
    width: 100%;
    position: relative;
    margin-top: 5px;
}

.testimonial .testimonial-name{
    display: block;
    font-size: 25px;
    color: black;
}
.testimonial .testimonial-position{
    display: block;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color:#f55f8d;
}
.testimonial .testimonial-text p{
    margin: 30px 10px;
    font-size: 20px;
    font-style: italic;
}
.testimonial .testimonial-text i{
    font-size: 80px;
    color: #f55f8d;
    position: absolute;
    left: 200px;
    top: 25px;
    transform: rotateZ(180deg);
}
.testimonial .swiper-pagination-bullet-active{
    background-color: #f55f8d;
}
/* end TESTIMONIAL */

/* start BLOG */
.blog {
    background-image: url(./image/Samar/bg16.png);
    background-size: cover;
    background-position: top center;
    padding-bottom: 50px;
}
.blog .container{
    display: block;
}
.blog .container .content{
    text-align: center;
}

.blog_container .item{
    background-color:rgba(244, 195, 210, 0.3);    
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
}
.blog_container .item img{
    width: 100%;
    border-radius: 10px;
}
.blog_container .item .content-item{
   margin: 40px 20px 0 15px;
}
.blog_container .item .content-item h2{
    color: black;
}
.blog_container .item .content-item p{
    font-size: 16px;
}
.blog_container .item .footer-item{
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 15px 10px 10px 15px;
    border-top: 1px solid rgb(128, 128, 128, 0.2);
    font-size: 14px
}
.blog_container .item .footer-item p{
    margin-right: 20px;  
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.blog_container .item .footer-item p i{
    color: #f55f8d;
    font-size: 25px;
    margin-right: 5px;
}
.blog_container .item .footer-item p span{
    color: #f55f8d;
}
.blog_container .item .calendar-item h3{
    position: absolute;
    top: 195px;
    left: 15px;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    background-image:linear-gradient(to right,#f55f8d ,#f8ae56) ;

}

/* end BLOG */

/* start FOOTER */
/* start SUB */
footer{
    background-image: url(./image/Samar/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;

}
footer .container{
    display: block;
}
footer .subscribe{
    /* position: absolute;
    top:-50px; */
    padding: 70px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./image/Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: -50px;
    display: flex;
    justify-content: space-between;
}
footer .subscribe .left-side h2{
    color: black;
    font-size: 30px;
}
footer .subscribe .right-side{
    display: flex;
    align-items: center;
}
footer .subscribe .right-side input{
    font-size: 18px;
    /* margin-right: 0px; */
    width: 450px;
    height: 70px;
    padding:  30px 0px 30px 30px;
    border-radius: 10px 0px 0px 10px ;
    border: 1px solid transparent;
    transition: 1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;}
footer .subscribe .right-side input:hover{
    border-color: #f55f8d;
}
footer .subscribe .right-side button{
    border-radius: 0px 10px 10px 0px;
    /* margin-left: -5px; */
    height: 70px;
    font-size: 20px;
}
/* end SUB */
/* start link */
footer  .img img{
    width: 100%;
    position:absolute;
    top: 0px;
    left: 0;
}
footer .link{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 40px 0;
    padding: 0;
}
footer .link .grid-1 a img{
    width: 60%;
}

footer .link .grid-1 li{
    display: flex;
    align-items: center;
    font-size: 16px;
    list-style: none;
}
footer .link .grid-1 li i{
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-image:linear-gradient(to right,#f55f8d ,#f8ae56) ;
    margin: 15px 15px 15px 0;
}

footer .link .grid h3{
    font-size: 30px;
    position: relative;
    margin-bottom: 30px;
}

footer .link .grid h3::after, footer .link .grid h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    z-index: 10;
    width: 14px;
    height: 3px;
}
footer .link .grid h3::after{
    bottom: 0px;
    width: 30px;
    height: 3px;
    left: 20px;
}
footer .link .grid li{
    list-style: none;
    margin: 15px 0 15px 0;
    transition: 0.5s;
}
footer .link .grid li a{
    transition: 0.5s;
}
footer .link .grid li a:hover{
    color: white;
}
footer .link .grid li a{
    text-decoration: none;
    color: #636363;
    font-size: 16px;
    transition: all .5s;
    font-weight: 300;
}
footer .link .grid li a i{
    margin-right: 20px;
}
/* end link */
/* start copyright */
footer .copyright{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #1F343B;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}
footer .copyright .left-side p{
    font-size: 18px;
}
footer .copyright .left-side p span{
    color: #f55f8d;
}
footer .copyright .right-side a{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
}
footer .copyright .right-side a:hover{
    background-color:#f55f8d;
}

/* end copyright */
/* end FOOTER */

/* back to top */
.scroll-to-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #f55f8d;
    color: white;
    text-align: center;
    z-index: 100;
    cursor: pointer;
}

.scroll-to-top i{
    line-height: 60px;
    font-size: 20px;
}

